.tela-agendamento {
  height: calc(100vh - 120px);
  align-items: center;
  justify-content: center;
}

.image-cadeira {
  background: url('images/cadeira.jpg') center no-repeat;
  background-size: top;
  width: 50%;
}
