* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab',serif;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

input{
    border: none;

}

a{
    text-decoration: none;
}

body{
    background: #312e38;
}
/*css redefinirSenha*/

.container-redefinirSenha{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.redefinirSenha-content{
    display: flex;
    flex-direction: column;
    width: 407px;

}

.redefinirSenha-content h1{
    font-size: 24px;
    font-weight: 500;
    color: #f4ede8;
    text-align: center;
    margin-bottom: 30px;
}
.redefinirSenha-content input{
    height: 70px;
    background: #232129;
    border-radius: 10px;
    color: #f4ede8;
    font-size: 16px;
    font-weight: 400;
    padding-left: 60px;
}
.redefinirSenha-content input + input{
    margin-top: 10px;
}
.redefinirSenha-content button{
    background: #ef5da8;
    border-radius: 10px;
    color: #312e38;
    height: 50px;
    margin-top: 25px;
}

