#ulcliente {
  list-style: none;
}
.tela-usuario {
  height: calc(100vh - 120px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
h1 {
  font-size: 36px;
  color: #f4ede8;
  margin-bottom: 40px;
}
#cliente {
  height: 50px;
  background: #232129;
  border-radius: 10px;
  color: #f4ede8;
  font-size: 18px;
  font-weight: 400;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cliente + #cliente {
  margin-top: 10px;
}
#back-to-login {
  color: #f4ede8;
  font-size: 16px;
  font-weight: 400px;
  text-align: center;
  margin-top: 10px;
}
